<main>

    <!-- close option -->
    <div class="close-container">
        <img class="close" src="../../assets/images/icon-close-menu.svg" alt="close-menu"/>
    </div>

    <!-- main -->
    <section class="main-container" appClickOutside (clickOutside)="clickedOutside()">

        <!-- features -->
        <section class="drop-down">
            <button type="button" (click)="setclickedFeature()">
                Features
                <img src="../../assets/images/icon-arrow-down.svg" alt="arrow-down"/>
            </button>

            <!-- lists -->
            <div class="options" [@slideInOut]="getFeatureClicked() ? 'out' : 'in'">
                <p [@p]="getFeatureClicked() ? 'out' : 'in'">
                    <img src="../../assets/images/icon-todo.svg" alt=""/> Todo List
                </p>
                <p>
                    <img src="../../assets/images/icon-calendar.svg" alt=""/> Calender
                </p>
                <p>
                    <img src="../../assets/images/icon-reminders.svg" alt=""/> Reminders
                </p>
                <p>
                    <img src="../../assets/images/icon-planning.svg" alt=""/> Planning
                </p>
            </div>

        </section>

        <!-- Company -->
        <section class="drop-down">
            
            <button type="button" (click)="setclickedCompany()">
                Company
                <img src="../../assets/images/icon-arrow-down.svg" alt="arrow-down"/>
            </button>

            <!-- lists -->
            <div class="options" [@slideInOut]="getCompanyClicked() ? 'out' : 'in'">
                <p>History</p>
                <p>Our Team</p>
                <p>Blog</p>
            </div>

        </section>

        <!-- careers -->
        <button type="button">Careers</button>

        <!-- about -->
        <button type="button">About</button>
    </section>

    <!-- button container -->
    <section class="button-container">

        <button class="login" type="button">Login</button>
        <button class="register" type="button">Register</button>
    </section>
</main>
