@import '../styles/fonts.scss';

main{
    display: flex;
    flex-direction: column;
    padding: 3vh 4vw;
    background-color: var(--Almost_White);
    height: 100%;

    .main-container{
        display: flex;
        flex-direction: column;
        margin-top: 7vh;

        .options{
            display: flex;
            flex-direction: column;
            padding-left: 1vw;

            
            .drop-down{
                padding-left: 3vw;
                margin-top: 0px;
                margin-bottom: 0px;
            }

            li{
                display: flex;
                flex-direction: column;
                margin-bottom: 3.5vh;

                img{
                    margin-left: 1.5vw;
                    margin-top: 0.5vh;
                    height: 60%;
                }
            }

            li:active{
                scale: (1.1);
                transition: 0.5s ease-in-out;
            }
            
        }

        .options li:first-child{
            .drop-down {
                li{
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    img{
                        width: 5vw;
                        margin-top: 0;
                        margin-right: 3vw;
                    }
                }
            }
        }
        
        .options .drop-down:nth-child(2) {

            li:last-child{
                margin-bottom: 0;
            }

            li:first-child{
                margin-top: 2vh;
            }

            li{
        
                opacity: 0;
                
                @for $i from 1 through 4{
                    
                    &:nth-child(#{$i}){
                        animation-name: menulist;
                        animation-duration: 300ms;
                        animation-delay: (300ms * $i) - 300ms;
                        animation-timing-function: ease-in-out;
                        animation-fill-mode: forwards;
                    }
                    
                }
            }
        }
    
    }

    .button-container{
        display: flex;
        flex-direction: column;
        justify-content: center;

        button{
            display: flex;
            justify-content: left;
            background-color: transparent;
            border: 0px transparent;
            height: 6vh;
            overflow: hidden;
        }

        .login, .register{
            margin-bottom: 1vh;
            background-color: transparent;
            border-radius: 1em;
            display: flex;
            justify-content: center;
            align-items: center;
            @include font_style(3.5vw, 500, var(--Medium_Gray));
        }
        
        .register{
            border: 1px solid var(--Medium_Gray);
        }
    }
}

p{
    margin-bottom: 0px;
}

p, li{
    display: flex;
    @include font_style(3.5vw, 500, var(--Medium_Gray));
    margin-top: 0px;
}


@keyframes menulist {
    0%{
        opacity: 0;
        transform: rotateY(-90deg) translateY(10px);
    }

    100%{
        opacity: 1;
        transform: rotateY(0deg) translateY(0px);
    }

}
