<main>
    <nav>
        <ul>
            <li>
                Features 
                <img src="../../assets/images/icon-arrow-down.svg" alt="arrow-down" />
            </li>
            <li>
                Company
                <img src="../../assets/images/icon-arrow-down.svg" alt="arrow-down"/>
            </li>
            <li>Careers</li>
            <li>About</li>
        </ul>
    </nav>

    <section class="button-containier">

        <button type="button" class="login">Login</button>
        <button type="button" class="register">Register</button>
    </section>
</main>
