@import '../styles/fonts.scss';

main{
    display: flex;
    flex-direction: row;

    nav{
        ul{
            display: flex;
            flex-direction: row;
            list-style-type: none;

            li{
                @include font_style(1vw, 600, var(--Almost_Black));
                margin-right: 3vw;
            }

            li:hover{
                cursor: pointer;
                scale: (1.1);
                transition: 300ms ease-in-out;
                color: black;
            }

            li:nth-child(1):hover, li:nth-child(2):hover{
                filter: brightness(0);
            }
        }
    }

    .button-containier{
        display: flex;
        flex-direction: row;
        margin-right: 0;
        margin-left: auto;

        button{
            background-color: transparent;
            height: 100%;
            width: 7vw;
            @include font_style(1vw, 600, var(--Medium_Gray));
            border: 2px solid var(--Medium_Gray);
            border-radius: 1em;
        }

        .login{
            margin-right: 1.5vw;
            border: 0px;
        }

        button:hover{
            cursor: pointer;
            scale: (1.1);
            transition: 300ms ease-in-out;
            color: var(--Almost_Black);
            border-color: var(--Almost_Black);
        }
    }

}

@media (min-width : 900px){

    main{

        nav{
            ul{
                li{
                    @include font_style(0.8vw, 600, var(--Medium_Gray));
                }
            }
        }
    
        .button-containier{
    
            button{
                border-radius: 1rem;
                @include font_style(0.8vw, 500, var(--Medium_Gray));
            }

        }
    }

}