@import './styles/fonts.scss';

main{
    display: flex;
    flex-direction: column;
    width: 100%; 
    height: 100%
}

span{
    @include font_style(7vw, 700, var(--Almost_Black));
    margin-left: 4vw;
}

.topbar-container{
    display: flex;
    margin-left: 4vw;
    margin-right: 4vw;
    margin-top: 4vh;

    .logo{
        width: 15vw;
    }

    .menu{
        margin-right: 0;
        margin-left: auto;
        width: 7vw;
    }
}

img{
    width: 100%;
}

.main-container{
    display: flex;
    flex-direction: column;    
    align-items: center;
    width: 100%;
    margin-top: 5vh;

    .image-container .desktop{
        display: none;
    }

    .content-container{
        display: flex;
        flex-direction: column;    
        align-items: center;

        header > p{
            margin-bottom: 2.5vh;
        }

        p{
            @include font_style(4.4vw, 500, var(--Medium_Gray));
            margin-top: 0px;
            text-align: center;
            line-height: 3.5vh;
        }
        
        button{
            border-radius: 3vw;
            background-color: var(--Almost_Black);
            @include font_style(3vw, 500, var(--Almost_White));
            height: 5.5vh;
            width: 28vw;
            border: 1px solid black;
            margin-bottom: 5vh;
        }
    }

}

// global <p> properties
p{
    @include font_style(9.5vw, 700, var(--Almost_Black));
    margin-left: 4vw;
    margin-right: 4vw;
}

.brands{
    display: flex;
    margin-bottom: 3vh;
    justify-content: center;

    img{  
        margin-right: 9vw;  
        height: 2vh;
    }

    img:last-child{  
        margin-right: 0;
    }
}

.attribution {
    @include font_style(2vw, 500, var(--Medium_Gray)); 
    text-align: center; 

    a { 
        color: hsl(228, 45%, 44%); 
    }
}

.side-bar{
    z-index: 2;
    position: absolute;
    right:0;
    top: 0;
    height: 100%;
    box-shadow: -3px 0px 2px hsl(0, 0%, 42%);
    background-color: white;

    .close-container{
        height: 3vh;
        display: flex;
        justify-content: right;
        margin-bottom: 5vh;
        margin-right: 4vw;
        margin-top: 3vh;
        z-index: 3;
        top: 0;
        right: 0;
        position: absolute;

        img{
            height: 100%;
        }
    }
}

.darker{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: black;
}

.top-bar-desktop{
    display: none;
    height: 3vh;
    background-color: blue;
    width: 80%;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.5;
    margin-top: 3.4vh;
}

@media (min-width : 481px){

    main{
        display: grid;
        grid-template-rows: 8% 1fr 5%;
    }
   
    .topbar-container{ 

        .logo{
            width: 8vw;
        }

        .menu{
            display: none;
        }
    }

    // makes use of grid
    .main-container{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas: 'grid1 grid2';
        margin-top: 0px;
        padding-top: 7vh;
        align-items:normal;

        
        // placement
        .image-container{
            grid-area: grid2;
            padding-right: 8vw;
            padding-left: 7vw;
        }

        // re-appears
        .image-container .desktop{
            display: block;
        }

        // vanishes
        .image-container .mobile{
            display: none;
        }

        .content-container{
            grid-area: grid1;
            padding-left: 10vw;
            padding-top: 10vh;
            align-items: start;

            header > p{
                @include font_style(6.1vw, 700, var(--Almost_Black));
                margin: 0px 0px;
            }

            p{
                @include font_style(1.4vw, 500, var(--Medium_Gray));
                margin: 5vh 0px;
                text-align:left;
                line-height:normal;
            }

            p:nth-child(2){
                margin-right:3vw;
                line-height: 3.5vh;
            }

            button{
                border-radius: 1vw;
                @include font_style(1.5vw, 500, var(--Almost_White));
                height: 7vh;
                width: 13vw;
            }

            .brands {
                display: flex;
                position: relative;
                margin-bottom: 0;

                img{  
                    margin-right: 4vw;  
                    height: 2vh;
                }
            }
        }
    } 

    .attribution {
        margin-top: 2vh;
        @include font_style(1vw, 500, var(--Medium_Gray));

    }

    .side-bar, .darker{
        display: none;
    }

    .top-bar-desktop{
        display: flex;
        flex-direction: row;
    }
    
}

@media (min-width : 900px) {
 
    .logo{
        width: 6vw;
    }

    .main-container{

        // placement
        .image-container{
            grid-area: grid2;
            padding-right: 8vw;
            padding-left: 9vw;
        }

        .content-container{

            header > p{
                @include font_style(6vw, 700, var(--Almost_Black));
                
            }
        }
    }

}

@media (min-width : 1600px) {

    .main-container{

        .content-container{

            button{
                border-radius: 1rem;
            }
        }
    }
}


