
<!-- background -->
<main >
  
  <div class="topbar-container">

    <!-- logo -->
    <img class="logo" src="../assets/images/logo.svg" alt="logo"/>

    <!-- menu -->
    <!-- click button, opens side menu -->
    <!-- click outside button, close menu -->
    <img (click)="setOpenSideMenu()" class="menu" src="../assets/images/icon-menu.svg" alt="menu"/>

  </div>

  <section class="main-container">
    
    <img src="../assets/images/image-hero-mobile.png" alt="image"/>

    <header>
      <p>Make remote work</p>
    </header>

    <p>
      Get your team in sync, no matter your location. Streamline processes, 
      create team rituals, and watch productivity soar.
    </p>

    <button type="button">
      Learn more
    </button>

    <div class="brands">

      <img src="../assets/images/client-databiz.svg" alt="databiz-icon"/>
      <img src="../assets/images/client-audiophile.svg" alt="audiophile-icon"/>
      <img src="../assets/images/client-meet.svg" alt="meet-icon"/>
      <img src="../assets/images/client-maker.svg" alt="maker-icon"/>
    </div>

  </section>

  <div class="attribution">
    Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
    Coded by <a href="https://github.com/Kennedy-was-taken/intro-section-with-dropdown-navigation">Tokelo</a>.
  </div>
  
</main>

<!-- side bar -->
<div class="side-bar" [@slideInOut]="getSideMenu() ? 'out' : 'in'" appClickOutside (clickOutside)="clickedOutside()">
  <app-mobile-slidebar></app-mobile-slidebar>

  <!-- close option -->
  <div class="close-container">
    <img class="close" src="../assets/images/icon-close-menu.svg" alt="close-menu" (click)="clickedOutside()" />
  </div>
</div>

<!-- dark layer -->
<div class="darker" [@darken]="getSideMenu() ? 'cover' : 'remove'"></div>
